body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 10px;
    font-size: 20px;
}
.navbar {
    text-align: center;
    background-color: #4B68B8;
    margin: 100px 500px 100px;
    padding: 30px;
    border-radius: 20px;
}
a {
    padding: 5px;
    border: 1px solid #000; 
    border-radius: 5px; 
    text-decoration: none; 
    color: inherit; 
    transition: background-color 0.3s ease; 
}